#slide--infinite {
    position: relative;
    left: 50%;
    transform: translateX( -50% );

    display: flex;
    align-items: center;
    gap: 20px;

    height: 550px;
    max-width: 500px;
}

.slide--mobile {
    flex-direction: column;

    height: 550px;
    width: 600px;
}
